/* Header */

header {
  width: 100%;
  height: 75px;
}

.mainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .back {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    margin-left: 5%;

    a {
      height: 100%;
    }

    i {
      font-size: 6vw;
      color: black;
      transition: ease-in-out 0.1s;

      &:hover {
        transform: scale(1.2);
        transition: ease-in-out 0.2s;
      }
    }
  }

  h1 {
    font-size: 8vw;
    color: black;
    transition: ease-in-out 0.1s;

    &:hover {
      transform: scale(1.05);
      transition: ease-in-out 0.2s;
    }
  }
}
