header {
  width: 100%;
  height: 75px;
}

.mainTitle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 45px;
    color: black;
    transition: ease-in-out 0.1s;

    &:hover {
      transform: scale(1.05);
      transition: ease-in-out 0.2s;
    }
  }
}
