.location {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey2;
  box-shadow: 0px 4px 4px #c2c2c2 inset;

  p {
    color: black;
    padding: 15px;
  }
}

.topPage {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2,
  p {
    width: 75%;
    text-align: center;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sec;
    background: linear-gradient(160deg, $sec, $prim);
    width: 60%;
    height: 70px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #c2c2c2;
    transition: ease-in-out 0.1s;

    &:hover {
      transform: scale(1.05);
      transition: ease-in-out 0.2s;
    }

    p {
      color: white;
    }
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;

  .foncCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $grey;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #c2c2c2;
    width: 80%;
    height: 75px;
    position: relative;
    cursor: pointer;
    transition: ease-in-out 0.1s;

    &:hover {
      transform: scale(1.05);
      transition: ease-in-out 0.1s;
      background-color: rgb(245, 237, 254);
    }

    &:hover .foncIcon {
      color: $prim;
    }

    .foncList {
      width: 30px;
      height: 30px;
      background-color: $prim;
      color: white;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      transform: translateX(-15px);

      p {
        color: white;
      }
    }

    .foncIcon {
      color: $greyText;
      font-size: 25px;
    }

    .foncText {
      width: 50%;
      display: flex;
      justify-content: center;
      padding: 2%;
      text-align: center;

      p {
        color: black;
        font-size: 18px;
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  height: 1500px;
  background-color: $grey;
  padding: 10%;

  .restTitle {
    height: 5%;
    display: flex;
    align-items: center;
  }

  .restCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 95%;
  }

  .restCard {
    height: 22%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 4px #c2c2c2;
    transition: ease-in-out 0.1s;

    &:hover {
      transform: scale(1.02);
      transition: ease-in-out 0.2s;
    }
  }

  .cardImg {
    height: 65%;
  }

  .new {
    background-color: $ter;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    border-radius: 5%;

    p {
      color: rgb(47, 133, 103);
    }
  }

  .item1 {
    background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
  }

  .item2 {
    background: url(images/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
  }

  .item3 {
    background: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
    .new {
      display: none;
    }
  }

  .item4 {
    background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
      center/cover;
    .new {
      display: none;
    }
  }

  .cardBottom {
    display: flex;
    height: 35%;
  }

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;

    h3,
    p {
      margin-left: 5%;
    }
  }

  .cardHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    i {
      font-size: 30px;
    }
  }
}
