/* Home */
/* Location */

.location {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey2;
  box-shadow: 0px 4px 4px #c2c2c2 inset;

  h3 {
    color: black;
    padding: 15px;
  }
}

/* Top Page */

.topPage {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h2,
  h4 {
    width: 75%;
    text-align: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sec;
  background: linear-gradient(160deg, $sec, $prim);
  width: 60%;
  height: 70px;
  border-radius: 40px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  @include shadow;

  &:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    box-shadow: 0px 5px 5px #c2c2c2;
    background: linear-gradient(160deg, $secClair, $primClair);
  }

  p {
    color: white;
  }
}

/* Fonctionnement */

.fonctionnement {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.foncTitle {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foncCards {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.foncCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey;
  border-radius: 20px;
  width: 80%;
  height: 75px;
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  @include shadow;

  &:hover {
    transform: scale(1.03);
    transition: ease-in-out 0.1s;
    background-color: rgb(245, 237, 254);
    box-shadow: 0px 5px 5px #c2c2c2;
  }

  &:hover .foncIcon {
    color: $prim;
  }
}

.foncList {
  width: 30px;
  height: 30px;
  background-color: $prim;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(-15px);

  p {
    color: white;
  }
}

.foncIcon {
  color: $greyText;
  font-size: 4vw;
}

.foncText {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 10%;
  text-align: center;
  white-space: nowrap;

  h4 {
    color: black;
    font-size: 4vw;
  }
}

/* Restaurants */

.restaurants {
  display: flex;
  flex-direction: column;
  height: 1100px;
  background-color: $grey;
  padding: 10%;
}

.restTitle {
  height: 5%;
  display: flex;
  align-items: center;
}

.restCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 95%;
}

.restCard {
  height: 22%;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  transition: ease-in-out 0.1s;
  @include shadow;

  &:hover {
    transform: scale(1.01);
    transition: ease-in-out 0.2s;
  }
}

.cardImg {
  height: 65%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.new {
  background-color: $ter;
  width: auto;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 5%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;

  p {
    color: rgb(47, 133, 103);
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cardBottom {
  display: flex;
  height: 35%;

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;

    h3,
    p {
      margin-left: 5%;
    }
  }
}

.cardHeart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;

  .fas {
    @include heartBack;
  }
}
