/* Loader */

.loaderPage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba($color: white, $alpha: 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: disapear 4s;
  animation-fill-mode: forwards;
  z-index: 100;
}

@keyframes disapear {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.loader {
  width: 50vw;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderBackground {
  background: linear-gradient(160deg, $sec, $prim);
  border-radius: 100%;
  width: 50vw;
  height: 50vw;
  animation: rotateBackGround 4s;
}

@keyframes rotateBackGround {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loaderIcon {
  position: absolute;
  z-index: 2;
  font-size: 8vw;
  color: $ter;
  animation: rotateIcon 4s;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
