.imgMenu {
  width: 100%;
  height: 250px;
  background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
}

.menu {
  height: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transform: translateY(-50px);
  padding-left: 10%;
  padding-right: 10%;

  .menuTitle {
    height: 10%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 30px;
    }

    i {
      font-size: 35px;
    }
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

.partMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  margin-bottom: 50px;

  .partTitle {
    width: 25%;
    height: 8%;
    position: relative;

    h2 {
      color: $greyText;
      width: 100%;
      font-size: 24px;
    }

    &::after {
      content: "";
      background-color: $ter;
      width: 60%;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.cardMenu {
  display: flex;
  background-color: white;
  width: 100%;
  height: 85px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #c2c2c2;
  overflow: hidden;

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    padding-left: 5%;
    white-space: nowrap;

    h3 {
      font-weight: bold;
      font-size: 22px;
    }
  }

  .cardPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-left: auto;
    background-color: white;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
    overflow: hidden;

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        font-weight: bold;
      }
    }

    .checker {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $ter;
      border-radius: 0px 15px 15px 0px;
      width: 50%;
      height: 100%;

      i {
        color: white;
        font-size: 20px;
      }
    }
  }
}
