.imgMenu {
  width: 100%;
  height: 250px;
}

.menu1 {
  background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
}

.menu2 {
  background: url(images/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover;
}

.menu3 {
  background: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
}

.menu4 {
  background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg)
    center/cover;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 50px 50px 0px 0px;
  transform: translateY(-50px);
  padding-left: 5%;
  padding-right: 5%;
  background-color: $grey;
  margin-bottom: 50px;

  .menuTitle {
    height: 5%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 7vw;
    }

    .menuHeart {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .far {
        font-size: 7vw;
      }

      .fas {
        font-size: 7.3vw;
        @include heartBack;
      }
    }
  }

  .button {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

.partMenu {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .partTitle {
    width: 25%;
    height: 40px;
    margin-bottom: 50px;
    position: relative;

    h2 {
      color: $greyText;
      width: 100%;
      font-size: 6vw;
    }

    &::after {
      content: "";
      background-color: $ter;
      width: 65%;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.cardMenu {
  display: flex;
  background-color: white;
  width: 100%;
  height: 85px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
  @include shadow;

  .cardText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 50%;
    padding-left: 5%;
    white-space: nowrap;

    h3 {
      font-weight: bold;
      font-size: 4vw;
    }
  }

  .cardPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-left: auto;
    background-color: white;
    border-radius: 15px;
    transition: ease-in-out 0.2s;
    overflow: hidden;

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;

      p {
        font-weight: bold;
      }
    }

    .checker {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $ter;
      border-radius: 0px 15px 15px 0px;
      width: 50%;
      height: 100%;

      i {
        color: white;
        font-size: 20px;
      }
    }
  }
}
