/* Mixins */

@mixin shadow {
  box-shadow: 0px 4px 4px #c2c2c2;
}

@mixin heartBack {
  position: absolute;
  background: -webkit-linear-gradient($sec, $prim);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: ease-in-out 0.1s;

  &:hover {
    opacity: 1;
    transition: ease-in-out 0.2s;
  }
}
