/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables */

$prim: #9356dc;
$sec: #ff79da;
$ter: #99e2d0;
$grey: rgb(246, 246, 246);
$grey2: rgb(234, 234, 234);
$greyText: rgb(53, 54, 54);

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

/* Import */

@import "reset.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "menu.scss";

/* General Assets */

body {
  font-family: $text;
  background-color: $grey;
}

p {
  font-size: 20px;
  color: $greyText;
}

h1 {
  font-family: $title;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

a {
  text-decoration: none;
}
