/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables */

$prim: rgb(147, 86, 220);
$primClair: rgb(164, 105, 237);
$sec: rgb(255, 121, 218);
$secClair: rgb(247, 136, 216);
$ter: rgb(153, 226, 208);
$grey: rgb(246, 246, 246);
$grey2: rgb(234, 234, 234);
$greyText: rgb(53, 54, 54);

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

/* Import */

@import "reset.scss";
@import "mainStyle.scss";
@import "mixins.scss";
@import "loader.scss";
@import "header.scss";
@import "home.scss";
@import "menu.scss";
@import "footer.scss";
@import "tablette.scss";
@import "desktop.scss";
