/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables */

$prim: #9356dc;
$sec: #ff79da;
$ter: #99e2d0;
$grey: rgb(246, 246, 246);
$grey2: rgb(234, 234, 234);
$greyText: rgb(53, 54, 54);

$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

/* Import */

@import "mixins.scss";
@import "header.scss";
@import "home.scss";
@import "menu.scss";
@import "loader.scss";
@import "footer.scss";
@import "reset.scss";
@import "mainStyle.scss";
@import "tablette.scss";
@import "desktop.scss";
